.sub-headings {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.activities {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}