.searchResults{
  padding: 0;
  border: 3px solid black;
  margin: 1.5rem 0.5rem;
  border-radius: 10px;
  box-shadow: 3px 5px;
  width: 25vh;
}

.searchResults:hover {
  background-color: rgba(8, 249, 24, 0.86);
}

