.searchResults{
  padding: 1rem 0 0 0;
  border: 3px solid black;
  width: 40vw;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 3px 5px;
  display:flex;
}

.searchResults:hover {
  background-color: rgba(8, 249, 24, 0.86);
}

.flex-50 {
  width: 47%
}